<!DOCTYPE html>
<html>
  {{> head-hc}}
  <body class="home-body">
    {{> nav-hc}}
    <div class="profile-bar">
      <h3>My Profile</h3>
      <img src="/images/profile-picture.png" class="profile-picture" alt="Profile picture">
      <p id="home-city"> 
        <img id="location-loading" class="hidden center" style="width:20px; margin-right:20px" src="/images/loading.gif">
        <br><br><br> 
      </p>
      <div class="profile-links"> <a onclick="getgeo()">Set My Location</a></div>
      <div class="profile-links"><a id="notif">Allow Notifications</a></div>
    </div>
    <div class="container-custom hurr-bg nav-gap">
      <div class="container-custom-1">
        <div class="row animated fadeIn slow">
          <div class="col-xs-12">
            <div class="facts">
              <button id="new-fact">Get Another Random Hurricane Fact</button>
              <div id="hur-fact-outer">
                <div id="hur-fact">
                  The most intense tropical cyclone ever measured when considering a storm's central pressure (this pressure drops as cyclones become stronger) was Typhoon Tip, which on Oct. 12, 1979, had a central pressure of 870 millibars.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row animated fadeIn slow">
          <div class="col-md-12 col-lg-6">
            <div class="home-card">
              <iframe src="//fave.api.cnn.io/v1/fav/?video=weather/2014/08/07/hurricane-facts-orig-cfb.cnn&customer=cnn&edition=domestic&env=prod" frameborder="0"></iframe>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="home-card"><img src="/images/hurricane.jpg" alt="Image of hurricane"></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $( "#new-fact" ).click(function() {
        // alert( "Handler for .click() called." );
        $.ajax({
            type: "GET",
            url: "/facts",
            data: 'json',
            success: function(html){
              $("#hur-fact").hide().html(html).fadeIn();
      
               console.log(html)
               // alert(html);
            }
        });
      });
      
      $( "#notif" ).click(function() {
        Notification.requestPermission().then(function(result) {
          if (result === 'denied') {
            console.log('Permission wasn\'t granted. Allow a retry.');
            return;
          }
          if (result === 'default') {
            console.log('The permission request was dismissed.');
            return;
          }
          // Do something with the granted permission.
        });
      });
    </script>
    <script type="text/javascript">
      window.cb = function cb(json) {
      //do what you want with the json
      $("#home-city").html('Your Location:<br>'+json.address.road + ', ' + json.address.city+'<br>'+json.address.country);
      }
      
      function getgeo() {
        
      $("#location-loading").toggleClass('hidden');
      console.log("getting location...")
      navigator.geolocation.getCurrentPosition(function(location) {
      
      console.log(location.coords.latitude);
      console.log(location.coords.longitude);
      console.log(location.coords.accuracy);
      
      var s = document.createElement('script');
      s.src = 'https://nominatim.openstreetmap.org/reverse?json_callback=cb&format=json&lat='+location.coords.latitude+'&lon='+location.coords.longitude+'&zoom=27&addressdetails=1';
      document.getElementsByTagName('head')[0].appendChild(s);
      
      //Set location cookie
      document.cookie = location.coords.latitude + "," + location.coords.longitude;
      });
      }
      
    </script>
  </body>
</html>