<!DOCTYPE html>
<html>
    {{> head-hc}}
    <body class="home-body">
        {{> nav-hc}}

        <div>
        </div>
        <div class="profile-bar">
            <h3>My Profile</h3>
            <img src="/images/profile-picture.png" class="profile-picture" alt="Profile picture">
            <div class="profile-links"><a href="/location">My Location</a></div>
            <div class="profile-links"><a href="/notifications">Edit Notifications</a></div>
        </div>
        <div class="container-custom nav-gap">
            <div class="container-custom-1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="facts">
                        <button id="new-fact">Get a Random Hurricane Fact</button>
                        <div id="hur-fact"></div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="home-card"></div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="home-card"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content -->
        <!--

            <div class="container">
              <div class="row justify-content-center">
                <div class="col col-xs-12 col-md-6 ">
                    <iframe src="//fave.api.cnn.io/v1/fav/?video=weather/2014/08/07/hurricane-facts-orig-cfb.cnn&customer=cnn&edition=domestic&env=prod" frameborder="0"></iframe>
                </div>
                <div class="col col-xs-12 col-md-6 center">
                    <img src="/images/hurricane.jpg" alt="Image of hurricane">
                    ↑ This is an image of a hurricane
                </div>
              </div>
            </div>
            </div>
            -->

            <script type="text/javascript">
            $( "#new-fact" ).click(function() {
              // alert( "Handler for .click() called." );
              $.ajax({
                  type: "GET",
                  url: "/facts",
                  data: 'json',
                  success: function(html){
                     $("#hur-fact").html(html)
                     // alert(html);
                  }
              });
            });
            </script>

            <script type="text/javascript">

            </script>
    </body>
</html>
