<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
    <body class="home-body">
        {{> nav}}

        <div>
        </div>
        <div class="profile-bar">
            <h3>My Profile</h3>
            <img src="/images/profile-picture.png" class="profile-picture" alt="Profile picture">
            <div class="profile-links"><a href="/location">My Location</a></div>
            <div class="profile-links"><a href="/notifications">Edit Notifications</a></div>
        </div>
        <div class="container-custom nav-gap">
            <div class="container-custom-1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="facts">
                        <button id="new-fact">Get a Random Hurricane Fact</button>
                        <div id="hur-fact"></div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="home-card"></div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="home-card"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Content -->
        <!--    
            
            <div class="container">
              <div class="row justify-content-center">
                <div class="col col-xs-12 col-md-6 ">
                    <iframe src="//fave.api.cnn.io/v1/fav/?video=weather/2014/08/07/hurricane-facts-orig-cfb.cnn&customer=cnn&edition=domestic&env=prod" frameborder="0"></iframe>
                </div>
                <div class="col col-xs-12 col-md-6 center">
                    <img src="/images/hurricane.jpg" alt="Image of hurricane">
                    ↑ This is an image of a hurricane
                </div>
              </div>
            </div>
            </div>
            -->
            
            <script type="text/javascript">
            $( "#new-fact" ).click(function() {
              // alert( "Handler for .click() called." );
              $.ajax({
                  type: "GET",
                  url: "/facts",
                  data: 'json',
                  success: function(html){
                     $("#hur-fact").html(html)
                     // alert(html);
                  }
              });
            });
            </script>
    </body>
</html>