


<!DOCTYPE html>
<html>
  {{> head-hc}}
  <body class="home-body">
    {{> nav-hc}}
    <div class="profile-bar">
      <h3>My Profile</h3>
      <img src="/images/profile-picture.png" class="profile-picture" id="profpic" alt="Profile picture">
      <p id="home-city">
        <img id="location-loading" class="hidden center" style="width:20px; margin-right:20px" src="/images/loading.gif">
        <br><br><br>
      </p>
      <div class="profile-links">
        <label for="fileinput">Change Profile Picture</label>
        <input id="fileinput" type="file" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" />
      </div>
      <div class="profile-links"> <a onclick="getgeo()">Set My Location</a></div>
    </div>
    <div class="container-custom hurr-bg nav-gap">
      <div class="container-custom-1">
        <div class="row animated fadeIn slow">
          <div class="col-xs-12">
            <div class="facts">
              <button id="new-fact">Get Another Random Hurricane Fact</button>
              <div id="hur-fact-outer">
                <div id="hur-fact">
                  The most intense tropical cyclone ever measured when considering a storm's central pressure (this pressure drops as cyclones become stronger) was Typhoon Tip, which on Oct. 12, 1979, had a central pressure of 870 millibars.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row animated fadeIn slow">
          <div class="col-md-12 col-lg-6">
            <div class="home-card">
              <iframe src="//fave.api.cnn.io/v1/fav/?video=weather/2014/08/07/hurricane-facts-orig-cfb.cnn&customer=cnn&edition=domestic&env=prod" frameborder="0"></iframe>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="home-card"><img src="/images/hurricane.jpg" alt="Image of hurricane"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="/script/facts-functions.js"></script>
    <script src="/script/pic-functions.js"></script>
  </body>
</html>
