<!DOCTYPE html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container login-welcome">
        <h2 class="login-welcome-line-1">Welcome to</h2>
        <h3 class="login-welcome-line-2">HURRYcane</h3>
    </div>
    <div class="container login-main">
        <input class="login-input" type="text" name="email" placeholder="Email" required>
        <br>
        <input class="login-input" type="password" name="password" placeholder="Password" required>
        <br>
        <a href="/home">
        <input id="login-submit" type="submit" value="Login">
        </a>
    </div>
</body>
</html>