<!DOCTYPE html>
<html>
  {{> head-hc}}
  <body class="home-body grey-bg">
    {{> nav-hc}}
    <h2 class="center headings animated fadeInUp slow">Hurricane Maps</h2>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <iframe id='weather-map' frameborder="0" allowfullscreen></iframe>
    <script type="text/javascript">
      function generateURL () {

        if( document.cookie.length != 0) {
          var location = document.cookie;
          var url = "https://www.rainviewer.com/map.html?" + location + ",7&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0&sm=1&sn=1";
          console.log(url);
        }
        else
          var url = "https://www.rainviewer.com/map.html?loc=37.793,-92.5269,5&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0&sm=1&sn=1";

        return url;
      }

      window.onload = function(){
        console.log("here");
        document.getElementById('weather-map').src=generateURL();
      }

    </script>
  </body>
</html>
