<!DOCTYPE html>
<html>
  {{> head-hc}}
  <body class="home-body">
    {{> nav-hc}}
    <h1 class="center headings animated fadeInUp">Preparations</h1>
    <div class="container-fluid animated fadeIn slow">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-8">
          <div class="accordion" id="accordionExample">
            <div class="card" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="card-header" id="headingOne">
                <div class="dark">
                  <h5 class="mb-0">
                    <button class="btn btn-link">
                    Pre-season Preparation
                    </button>
                  </h5>
                </div>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  Know all evacuation routes.
                  Make sure your home meets building codes for withstanding hurricanes, and they have storm shutters.
                  Have proper tools, supplies, and a first aid kit.
                  Have plenty of batteries and flashlights.
                  Always have plenty of non-perishable foods on hand.
                  Click here for a checklist of items that you should have.
                </div>
              </div>
            </div>
            <div class="card" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <div class="card-header" id="headingTwo">
                <div class="dark">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed">
                    Issued Watch/Warning
                    </button>
                  </h5>
                </div>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  Leave low lying areas.
                  Protect windows with plywood boards, or storm shutters.
                  Secure outside objects.
                  Make sure you have plenty of fuel and water.
                  Have several days supply of food and water for each family member.
                  If called to evacuate, do so immediately.
                </div>
              </div>
            </div>
            <div class="card" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div class="card-header" id="headingThree">
                <div class="dark">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed">
                    The Storm
                    </button>
                  </h5>
                </div>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="col">
                    <h4>Before</h4>
                    <p>
                      Be ready to put your plan and preparation into action.
                      Pay attention to local weather reports on radio, television, or the internet.
                      Have house boarded up, or have storm shutters in place.
                      Have plenty of food and water.
                      Make sure all your tools, supplies, and first aid kit available for use.
                      Have a secure room available.
                    </p>
                  </div>
                  <div class="col">
                    <h4>During</h4>
                    <p>
                      Stay in Secure Room.
                      Stay away from windows.
                      Do not use the phone, or candles.
                      Monitor Weather and Civil Service Bulletins on either regular or NOAA radio.
                      Have supplies on hand.
                      Remain indoors when the eye moves over your area because the storm will resume shortly.
                    </p>
                  </div>
                  <div class="col">
                    <h4>After</h4>
                    <p>
                      Make sure that all is definitely clear outside, and the storm has completely passed before going out.
                      Report downed power lines, and stay away from them.
                      Use stored water and food.
                      Be patient. Things will take a while before they get back to normal.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3 class="center headings">Safety Checklist</h3>
          <div class="accordion" id="accordionExample2">
            <div class="card" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              <div class="card-header" id="headingFour">
                <div class="dark">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed">
                    Food & Water
                    </button>
                  </h5>
                </div>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5>Food</h5>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Ready-to-eat canned meats, fruits, and vegetables</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Canned juices</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Staples (salt, sugar, pepper, spices, etc.)</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">High energy foods</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Vitamins</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Food for infants</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Comfort/stress foods</label>
                      </div>
                    </div>
                    <div class="col">
                      <h5>Water</h5>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Store water in plastic containers such as soft drink bottles</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Store one gallon of water per person per day</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Keep at least a three-day supply of water per person (two quarts for drinking, two quarts for each person in your household for food preparation/sanitation)</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <div class="card-header" id="headingFive">
                <div class="dark">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed">
                    First Aid and Non-Prescription Drugs
                    </button>
                  </h5>
                </div>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5>First Aid Kit</h5>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(20) adhesive bandages, various sizes</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(1) 5x9in sterile dressing</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(1) conforming roller gauze bandage</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(2) triangular bandages</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(2) 3x3 sterile gauze pads</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(2) 4x4 sterile gauze pads</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(1) roll 3in cohesive bandage</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(2) germicidal hand wipes or waterless alcohol-based hand sanitizer</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(6) antiseptic wipes</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">(2) pair large medical grade non-latex gloves</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Adhesive tape, 2in width</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Anti-bacterial ointment</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Cold pack</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Scissors (small, personal)</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Tweezers</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">CPR breathing barrier, such as a face shield.</label>
                      </div>
                    </div>
                    <div class="col">
                      <h5>Non-Prescription Drugs</h5>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Aspirin or nonaspirin pain reliever</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Anti-diarrhea medication</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Antacid (for stomach upset)</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Laxative</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Activated charcoal</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              <div class="card-header" id="headingSix">
                <div class="dark">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed">
                    Tools & Supplies
                    </button>
                  </h5>
                </div>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5>First Aid Kit</h5>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Mess kits, or paper cups, plates, and plastic utensils</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Emergency preparedness manual</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Battery-operated radio and extra batteries</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Flashlight and extra batteries</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Cash and/or change</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Non-electric can opener, utility knife</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Fire extinguisher: small canister ABC type</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Tube tent</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Pliers</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Tape</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Compass</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Lighter or matches in a waterproof container</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Aluminum foil</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Plastic storage containers</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Signal flare</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Paper, pencil</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Needles, thread</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Medicine dropper</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Shut-off wrench, to turn off household gas and water</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Whistle</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">Plastic sheeting</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialUnchecked">
                        <label class="form-check-label" for="materialUnchecked">List of local shelters</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  </body>
</html>