@import url('https://fonts.googleapis.com/css?family=Oswald|Ropa+Sans');

html {
    min-height: 100%;
}

body{
    background: #f2f2f2;
}

.hidden {
    visibility: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.nav-padding{
    widows: 100vw;
    height: 40px;
}

.home-body {
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Ropa Sans';
}

.headings {
    font-size: 36px;
    color: whitesmoke;
    padding: 40px 0px;
    letter-spacing: 2.5px;
    /* text-shadow: 2px 2px 5px white; */
    font-family: 'Oswald', sans-serif;
}

#headings-trending {
    padding-top: 60px !important;
    padding-bottom: 20px !important;
}

.center {
    text-align: center;
}

.tweets-row{
  margin-left: auto!important;
  margin-right: auto!important;
  width: 500px;
  max-width: 90vw;
  box-shadow: 10px 10px 20px 4px rgba(173,173,173,0.7);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  padding: 0!important;
}


.tweets-row-b{
  margin-bottom: 70px;

}

twitter-widget{
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.navbar{
    position: fixed!important;
    float: left;
    width: 100vw;
    z-index: 1000000;
    background-color: rgba(0, 0, 0,.9);
    color: white !important;
    padding-left: 0!important;
    -webkit-backdrop-filter: blur(10px);
}

.navbar a {
    color: white !important;
}

.navbar-nav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-item{
    text-align: center;
    font-size: 1.2em;
    
}

.navbar-brand{
    width: 200px;
    text-align: center;
    margin-right: 10px;
    
}

.nav-gap{
    padding-top: 100px;
}

img, iframe {
    width: 100%;
}

iframe {
    min-height: 100%;
}

.facts {
  margin-left: 25%;
}

.accordion {
    width: 600px;
    margin: 0 auto;

}

.card-body {
    background: rgb(78, 78, 78);
    color: whitesmoke;
}



.card-header button {
    font-size: 22px;
    
    color: white;
 text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}

.card-header button:hover {
    text-decoration: none !important;
    color: white !important;
}

#headingOne {
    background-image:url('../images/prep-1.jpg');
}
#headingTwo {
    background-image:url('../images/prep-2.jpg');
}
#headingThree {
    background-image:url('../images/prep-3.jpg');
}
#headingFour {
    background-image:url('../images/prep-4.jpg');
}
#headingFive {
    background-image:url('../images/prep-5.jpg');
}
#headingSix {
    background-image:url('../images/prep-6.jpg');
}

.dark {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 200px;
    transition: background-color 1s ease;
    
}

.dark:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 1s ease;
}

.card-header {
    height: 200px;
    text-align: right;

    background-size: 100%;
    transition: background-image 1s, background-size 1s;
    
    
}

.card-header:hover {
    background-size: 110%;
    transition: background-image 1s, background-size 1s;
}



@media (max-width: 376px) {
    .card-header {
        height: 100px;
    }
    .card-header button {
        font-size: 16px;
    }

}






.container-custom{
    width: calc(100vw - 205px);
    min-height: 100vh;
    /* background-color: #F5F5F5; */
    display: inline-block;
    vertical-align: top;
    margin-left: 200px;
}

.hurr-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../images/home-bg.jpg");
    background-size: cover;
}

.grey-bg {
    background: rgb(10, 10, 10);
}

.container-custom-1{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/* ----- Login ----- */
.login-home{
    background-color: white;
}


 .login-welcome, .login-main, .login-new-account {
    margin-top: 30vh;
    text-align: center;
}
}
 .login-welcome {
     margin-top: 50px;
}
 .login-main{
     margin: 50px auto 50px auto;
}
 .login-welcome-line-1 {
     font-size: 29px;
}
 .login-welcome-line-2 {
     font-size: 35px;
}
 .login-input {
     height: 50px;
     margin: 10px auto 10px auto;
     text-align: center;
     width: 300px;
     border-radius: 100px;
     border: 0;
     background-color: #F0F0F0;
     font-size: 18px;
}
 #login-submit {
     height: 40px;
     color: white;
     width: 170px;
     margin-top: 20px;
     background-color: #1CE1FF;
     border: 0;
     border-radius: 10px;
     font-size: 20px;
     line-height: 40px;
}
 .login-new-account{
     font-size: 18px;
     color: gray;
}
 .login-new-account a {
     text-decoration: underline;
     color: gray;
}

 .top-containers {
     background: rgba(0, 0, 0, .7);
     -webkit-backdrop-filter: blur(5px);
     color: white;
     text-align: center;
     height: 50px;
     position: fixed;
     width: 100vw;
     z-index: 1000;
     top: 0;
}

 .top-containers h1{
     color: white;
     position: relative;
     line-height: 50px;
     margin-top: 0;
}


#new-fact{
    width: 300px;
    height: 50px;
    text-align: center;
    margin-left: calc(50% - 150px);
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #FD7E08;
    border: 0;
    transition: box-shadow .4s;
    color: white;
    font-size: 1.2em;
    border-radius: 5px;
}

#new-fact:hover{
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35);
    transition: box-shadow .4s;
    
}


#hur-fact-outer{
    width: 800px;
    height: 400px;
    overflow: scroll;
    margin-left: calc(50% - 400px);
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    font-size: 1.5em;
    margin-bottom: 100px
}

/* home */

.profile-sidebar{
    width: 180px;
    background-color: rgba(255,255,255,.3)!important;
    top: 35vh;
    height: 30vh;
    position: fixed;
    border-radius: 20px;

}







.home-card{
    width: calc(100% - 30px);
    height: 300px;
    background-color: #5D5D5D;
    margin: 15px;
    /*box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);*/
    border-radius: 10px;
    overflow: hidden;
}


#home-city{
    text-align: center;
}




.profile-bar{
    background-color: white;
    background-image: url(../images/sidebar.jpg);
    background-size: cover;
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0;
    left: 0;
    display: inline-block;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    padding-top: 100px;
}

.profile-bar h3{
    text-align: center;
    background-color: rgba(255,255,255,.5);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 10px 0;
    border-radius: 5px;
}

.profile-picture{
    border-radius: 100%;
    width: 70%;
    border: 10px solid rgba(255,255,255,.5);
    margin-left: 15%;
    margin-top: 40px;
    margin-bottom: 30px
}

.profile-links{
    background-color: gray;
    color: white;
    width: 80%;
    margin-left: 10%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
}

.profile-links:hover {
    background-color: rgb(145, 145, 145);
    color: white;
    width: 80%;
    margin-left: 10%;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
}



.profile-links a:hover{
    color: white;
    text-decoration: none;
    
}

.page-body{
  padding-top: 20px;
}

/*-------Trending--------*/

.trend-search-bar {
  padding: 15px;
  background-color: #1da1f2;
  border-radius: 10px;
  margin-bottom: 40px;
    margin-top : 30px;
    width: 500px;
    max-width: 90vw;
  
}

.trend-search-bar input[type=text] {
  padding: 10px;
  border: none;
  font-size: 17px;
  background-color: #1da1f2;
  color: white;
  text-align: center;
  font-size: 1.5em
}

.trend-search-bar input[type=text]::placeholder {
    color:#73D7F3;
    text-align: center;
    font-size: .8em
}

#live-tweets{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.tweet-ind{
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.tweet-ind a{
  color: #18C0FF
}

.card {
    border: 0 !important;
    border-radius: 10px !important;
    background: black;
    margin-bottom: 20px;
    overflow: hidden!important;
}