@import url('https://fonts.googleapis.com/css?family=Overpass');

html {
    min-height: 100%;

}

.home-body {
    background: linear-gradient(rgb(255, 255, 255), rgb(168, 220, 255));
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Overpass';
}

.headings {
    font-size: 36px;
    color: rgb(104, 104, 104);
    padding: 40px 0px;
    letter-spacing: 2.5px;
    text-shadow: 2px 2px 5px white;
}

.center {
    text-align: center;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


img, iframe {
    width: 100%;
}

iframe {
    min-height: 100%;
}
